@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lekton&family=Manrope&display=swap');

.wmde-markdown ol,
.wmde-markdown ul,
.wmde-markdown menu,
.mde-preview ol,
.mde-preview ul,
.mde-preview menu {
  list-style: revert;
}

#file-view-editor .w-md-editor-toolbar {
  position: sticky;
  top: 92px;
  z-index: 10;
}

#new-file-editor .w-md-editor-toolbar {
  position: sticky;
  top: 96px;
  z-index: 10;
}

.cm-theme .cm-editor {
  height: 100% !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .tooltip {
    @apply invisible absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }

  .underlined {
    position: relative;
    margin-right: 1rem;
  }

  .underlined:after {
    content: '';
    position: absolute;
    bottom: -40px;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 50px;
    border: solid 4px white;
    border-color: white transparent transparent transparent;
    border-radius: 50%;
    clip-path: inset(0 0 50% 0);
    rotate: -2deg;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
