.wmde-markdown ol,
.wmde-markdown ul,
.wmde-markdown menu,
.mde-preview ol,
.mde-preview ul,
.mde-preview menu {
  list-style: revert;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .tooltip {
    @apply invisible absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
